### Gradle ###
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

### Java ###
*.class
*.log

### IntelliJ IDEA ###
.idea/
*.iml
*.iws
out/

### VSCode ###
.vscode/

### OS ###
.DS_Store
Thumbs.db

### Logs ###
*.log

### Environment files ###
.env
*.env

### Test reports ###
test-output/
surefire-reports/

### Spring Boot ###
# Evita subir archivos de configuración sensibles
application-local.properties
application-local.yml
application-dev.properties
application-dev.yml
application-secrets.properties
application-secrets.yml

### Others ###
*.swp
/src/main/resources/dietmefy.p12
.secrets
.kotlin/sessions
